.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .document-conteiner{
        width: 99%;
        border: 1px solid rgba(218, 218, 218, 0.651);
        
        &:not(:first-of-type){
            margin-top: 10px;
        }
        .data-box{
            display: flex;
            flex-direction: column;
            padding: 10px 10px 10px 10px;
        }
        .control-box{
            button{
                margin: 10px 10px 10px 10px;
            }
        }
    }
    .back-button{
        width: 100%;
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        background-color: darkorange;
        height: 50px;
        border: 1px solid rgba(216, 216, 216, 0.568);
    }
}