.menu-conteiner{
    background-color: darkorange;
    width: 70%;
    display: flex;
    flex-direction: column;
    button{
        width: 100%;
        margin-top: 5px;
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.37);
        height: 60px;
        border: 1px solid rgba(216, 216, 216, 0.568);
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 40px;
            height: 40px;
        }
    }
}
.main{
    width: 100vw;
    height: 100vh;
    font-weight: bold;
    overflow: auto;
    mat-form-field{
        margin-bottom: -10px;
    }
    .navbar{
        width: 100vw;
        background-color: darkorange;
        display: flex;
        align-items: center;
        button{
            margin: 5px;
            padding: 0;
            border: none;
            font: inherit;
            color: inherit;
            background-color: transparent;
            cursor: pointer;
            width: 40px;
            height: 40px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        span{
            font-size: 1.7em;
        }
    }
    .search-conteiner{
        width: 100%;
        span{
            font-size: 1.2em;
            &:first-child{
                color: darkorange;
            }
            &:nth-child(2){
                color: #F44336;
            }
        }
        
        .input-conteiner{
            display: flex;
            width: 100%;
            img{
                width: 100px;
                height: 100px;
            }
            .input-search-conteiner{
                span:last-child{
                    color: #F44336;
                }
                div{
                    margin: 10px;
                }
            }
            
        }
        .input-box-conteiner{
            width: 100%;
            // margin: 10px;
            mat-form-field{
                width: 70%;
                
            }
        }
        button{
            width: 100%;
                padding: 0;
                border: none;
                font: inherit;
                color: inherit;
                background-color: transparent;
                cursor: pointer;
                background-color: darkorange;
                height: 50px;
                border: 1px solid rgba(216, 216, 216, 0.568);
        }
        .clear-button{
            background-color: white;
            height: 40px;
            width: 40px;
            margin-right: 5px;
        }
    }
}
